/* main colors */
$color-primary: #121212;
$color-secondary: #212121;
$color-tertiary: #303030;
$color-quartary: #111111;
$color-inner-black: #181818;

$color-light-grey: #909090;
$color-grey-medium: #aaaaaa;

//hover color for aside navbar
$color-white-light: rgba(255, 255, 255, 0.1);
$color-blue-light: rgba(97, 97, 231, 0.8);

//other colors
$color-white: #ffffff;
$color-black: #000000;
$color-scrollbar: #646464;
