//light-mode button

.center {
  position: relative;
}

.btn-light {
  width: 4rem;
  height: 2rem;
  -webkit-appearance: none;
  background-color: #aaa;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: 0.2);
  transition: all 0.5s;

  &:checked {
    background-color: $color-inner-black;

    &:before {
      left: 0;
      background: #909090;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    top: 0;
    left: 2rem;
    background: #3ea6ff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.2);
    transition: 0.5s;
  }
}
